main {
  display: flex;
  width: 100%;
  height: 70vh;
}

.main-container {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: black;
}

@media (max-height: 900px) {
  h1 {
    margin: 0;
  }
}
